* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  
}

.header {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  display: flex;
  flex-flow: row;
  height: calc(80 / 1440 * 100vw);
  width: calc(1440 / 1440 *100vw);
  background: #fff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.header__logo-1 {
  margin-left: calc(33 / 1440 * 100vw);
  margin-bottom: calc(12 / 1440 * 100vw);
  margin-top: calc(18 / 1440 * 100vw);
  width: calc(222 / 1440 * 100vw);
}

.header__title {
    position: absolute;
  font-family: "Inter";
  font-size: calc(36 / 1440 * 100vw);
  color: #787878;
  margin-top: calc(21 / 1440 * 100vw);
  margin-bottom: calc(15 / 1440 * 100vw);
  margin-left: calc(281 / 1440 * 100vw);
  font-weight: 700;
  font-style: normal;
}

.header__registration {
    position: absolute;
  margin-left: calc(1152 / 1440 * 100vw);
  margin-bottom: calc(26 / 1440 * 100vw);
  margin-top: calc(25 / 1440 * 100vw);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: calc(24 / 1440 * 100vw);
  color: #1a226b;
  text-decoration: none;
}

.header__entering {
    position: absolute;
  margin-left: calc(1337 / 1440 * 100vw);
  margin-top: calc(25 / 1440 * 100vw);
  margin-bottom: calc(26 / 1440 * 100vw);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: calc(24 / 1440 * 100vw);
  color: #787878;
  text-decoration: none;
  margin-right: 43px;
}

.cardentry {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: calc(180 / 1440 * 100vw);
  left: calc(420 / 1440 * 100vw);
  width: calc(600 / 1440 * 100vw);
  height: calc(875 / 1440 * 100vw);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 40px 10px rgb(0 0 0 / 25%);
  margin: auto;
  font-family: "Roboto";
}

.cardentry__title {
  display: flex;
  position: absolute;
  top: calc(26 / 1440 * 100vw);
  left: calc(149 / 1440 * 100vw);
  right: calc(243 / 1440 * 100vw);
  font-weight: 700;
  font-size: calc(50 / 1440 * 100vw);
  line-height: calc(50 / 1440 * 100vw);
  color: rgba(120, 120, 120, 1);
  caret-color: transparent;
}

.cardentry__enter {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.card__email {
  position: absolute;
  display: flex;
  top: calc(112 / 1440 * 100vw);
  width: calc(510 / 1440 * 100vw);
  left: calc(45 / 1440 * 100vw);
  height: calc(49 / 1440 * 100vw);
  border: calc(2 / 1440 * 100vw) solid #787878;
  padding-left: calc(15 / 1440 * 100vw);
}

.card__email input {
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  font-size: calc(28 / 1440 * 100vw);
  font-weight: 700;
  line-height: calc(36 / 1440 * 100vw);
  color: #787878;
}

.card__email input::placeholder {
  color: #cccccc;
  font-weight: 700;
}

.card__email label {
  font-size: calc(16 / 1440 * 100vw);
  font-weight: 700;
  position: absolute;
  opacity: 1;
  transition: 0.15s;
  caret-color: transparent;
  left: calc(0 / 1440 * 100vw);
  top: calc(-19 / 1440 * 100vw);
  color: rgba(120, 120, 120, 1);
}

.card__password {
  display: flex;
  position: absolute;
  top: calc(193 / 1440 * 100vw);
  left: calc(45 / 1440 * 100vw);
  width: calc(510 / 1440 * 100vw);
  height: calc(49 / 1440 * 100vw);
  border: calc(2 / 1440 * 100vw) solid #787878;
  padding-left: calc(15 / 1440 * 100vw);
}

.card__password input {
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  font-size: calc(28 / 1440 * 100vw);
  font-weight: 700;
  line-height: calc(36 / 1440 * 100vw);
  color: #787878;
}

.card__password input::placeholder {
  color: #cccccc;
  font-weight: 700;
}

.card__password label {
  font-size: calc(16 / 1440 * 100vw);
  font-weight: 700;
  position: absolute;
  left: calc(0 / 1440 * 100vw);
  top: calc(-20 / 1440 * 100vw);
  opacity: 1;
  transition: 0.15s;
  caret-color: transparent;
  color: rgba(120, 120, 120, 1);
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(413 / 1440 * 100vw);
  left: calc(160 / 1440 * 100vw);
  width: calc(180 / 1440 * 100vw);
  height: calc(52 / 1440 * 100vw);
  border: none;
  background-color: rgba(26, 34, 107, 1);
  font-size: calc(24 / 1440 * 100vw);
  text-align: center;
  line-height: calc(16 / 1440 * 100vw);
  font-weight: 700;
  color: #fff;
  caret-color: transparent;
  cursor: pointer;
}

.card__repeat-password {
  position: absolute;
  display: flex;
  top: calc(274 / 1440 * 100vw);
  left: calc(45 / 1440 * 100vw);
  width: calc(510 / 1440 * 100vw);
  height: calc(49 / 1440 * 100vw);
  border: calc(2 / 1440 * 100vw) solid #787878;
  padding-left: calc(15 / 1440 * 100vw);
}

.card__repeat-password input {
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  font-size: calc(28 / 1440 * 100vw);
  font-weight: 700;
  line-height: calc(36 / 1440 * 100vw);
  color: #787878;
}

.card__repeat-password label {
  font-size: calc(16 / 1440 * 100vw);
  font-weight: 700;
  position: absolute;
  left: calc(0 / 1440 * 100vw);
  top: calc(-20 / 1440 * 100vw);
  color: rgba(120, 120, 120, 1);
}

.card__repeat-password input::placeholder {
  color: #cccccc;
  font-weight: 700;
}

.container__check-position {
  font-size: calc(16 / 1440 * 100vw);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: calc(7 / 1440 * 100vw);
  top: calc(311 / 1440 * 100vw);
  left: calc(-243 / 1440 * 100vw);
  padding-top: calc(11 / 1440 * 100vw);
}


.container__gender-label {
 top: calc(10 / 1440 * 100vw);
  font-weight: 700;
  color: #787878;
  position: absolute;
  left: calc(-10 / 1440 * 100vw);
  font-size: calc(16 / 1440 * 100vw);
  
}

.container__label {
  margin-bottom: calc(5 / 1440 * 100vw);
  font-weight: 700;
  color: #787878;
  position: absolute;
  left: calc(-15 / 1440 * 100vw);
  font-size: calc(16 / 1440 * 100vw);
}

.container__label-about {
  margin-bottom: calc(5 / 1440 * 100vw);
  font-weight: 700;
  color: #787878;
  position: absolute;
  left: calc(0 / 1440 * 100vw);
  font-size: calc(16 / 1440 * 100vw);
  top: calc(50 /1440 * 100vw);
}

.box-form__hidden-check1 {
  position: absolute;
  top: calc(50 / 1440 * 100vw);
  left: calc(20 / 1440 * 100vw);
}

.box-form__hidden-check2 {
  position: absolute;
  top: calc(60 / 1440 * 100vw);
  left: calc(20 / 1440 * 100vw);
}


.form-group-1 {
  top: calc(357 / 1440 * 100vw);
  left: calc(45 / 1440 * 100vw);
  position: absolute;
  font-size: calc(14 / 1440 * 100vw);
  color: #787878;
}

.form-group-2 {
  padding-top: calc(13 / 1440 * 100vw);
}

.form__man {
  top: calc(355 / 1440 * 100vw);
  display: inline-block;
}

.form__man-input {
  width: calc(0 / 1440 * 100vw);
  height: calc(0 / 1440 * 100vw);
  position: absolute;
  z-index: -1;
}

.form__wmn-input {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}

.custom-radio {
  position: relative;
  display: inline-block;
  width: calc(20 / 1440 * 100vw);
  height: calc(20 / 1440 * 100vw);

  border: calc(2 / 1440 * 100vw) solid #787878;
  border-radius: 50%;
  margin-right: calc(9 / 1440 * 100vw);
  vertical-align: text-top;
}

.custom-radio::before {
  content: "";
  display: inline-block;
  width: calc(12 / 1440 * 100vw);
  height: calc(12 / 1440 * 100vw);
  background: #787878;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.form__man-input:checked + .custom-radio::before {
  display: block;
}

.form__wmn-input:checked + .custom-radio::before {
  display: block;
}

.container__form-about {
  position: absolute;
  top: calc(90 / 1440 * 100vw);
  left: calc(0 / 1440 * 100vw);
  width: calc(509 / 1440 * 100vw);
  height: calc(246 / 1440 * 100vw);
  font-size: calc(28 / 1440 * 100vw);
  font-weight: 700;
  line-height: calc(36 / 1440 * 100vw);
  color: #787878;
  font-family: "Roboto";
  border: calc(2 / 1440 * 100vw) solid #787878; 
}

textarea::placeholder {
  color: #cccccc;
  font-weight: 700;
  font-size: calc(28 / 1440 * 100vw);
  line-height: calc(36 / 1440 * 100vw);
  font-family: "Roboto";
}

.checkbox__container {
  position: relative;
  display: inline-block;
  top: calc(300 / 1440 * 100vw);
  left: calc(0 / 1440 * 100vw);
}

.checkbox__label {
  position: absolute;
}

.realcheckbox__container-agree {
  display: inline-block;
  position: absolute;
  
  z-index: -1;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: calc(24 / 1440 * 100vw);
  height: calc(24 / 1440 * 100vw);
  border: calc(2 / 1440 * 100vw) solid #787878;
  margin-right: calc(9 / 1440 * 100vw);
  vertical-align: sub;
}

.custom-checkbox::before {
  content: '';
  display: inline-block;
  width: calc(12 / 1440 * 100vw);
  height: calc(12 / 1440 * 100vw);
  background: #787878;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);

  
}

.realcheckbox__container-agree:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
    
}

@media screen and (max-width: 768px) {

.header {
    height: calc(80 / 768 * 100vw);
    width:  calc(768 / 768 * 100vw)


}    

.header__logo-1 {
    margin-left: calc(20 / 768 * 100vw);
    margin-bottom: calc(30 / 768 * 100vw);
    margin-top: calc(25 / 768* 100vw);
    width: calc(125 / 768 * 100vw);
    height: calc(25 / 768 * 100vw);
}
    

.header__title {
   
  
  font-size: calc(24 / 768 * 100vw);
  margin-top: calc(23 / 768 * 100vw);
  margin-bottom: calc(28 / 768 * 100vw);
  margin-left: calc(178 / 768 * 100vw);
  
}

.header__registration {
   
  margin-left: calc(559 / 768 * 100vw);
  margin-bottom: calc(31 / 768 * 100vw);
  margin-top: calc(30 / 768 * 100vw);
  
 
  font-weight: 700;
  font-size: calc(16 / 768 * 100vw);
  
  
}

.header__entering {
    position: absolute;
  margin-left: calc(700 / 768 * 100vw);
  margin-top: calc(30 / 768 * 100vw);
  margin-bottom: calc(31 / 768 * 100vw);
 
  font-size: calc(16 / 768 * 100vw);
  
  margin-right: calc(28 / 768 * 100vw);
}

.cardentry {
  
  position: absolute;
  display: flex;
  top: calc(160/ 768 * 100vw);
  left: calc(84 / 768 * 100vw);
  right: calc(84 / 768 * 100vw);
  width: calc(600 / 768 * 100vw);
  height: calc(875 / 768 * 100vw);
  
  box-shadow: 0px 0px 40px 10px rgb(0 0 0 / 25%);
  margin: auto;
  
}

.cardentry__title {
  display: flex;
  position: absolute;
  top: calc(30 / 768 * 100vw);
  left: calc(149 / 768* 100vw);
  right: calc(149/ 768 * 100vw);
  font-weight: 700;
  font-size: calc(50 / 768 * 100vw);
  line-height: calc(50 / 768 * 100vw);
  color: rgba(120, 120, 120, 1);
  caret-color: transparent;
}

.cardentry__enter {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.card__email {
  position: absolute;
  display: flex;
  top: calc(112 / 768 * 100vw);
  width: calc(510 / 768 * 100vw);
  left: calc(45 / 768 * 100vw);
  height: calc(49 / 768 * 100vw);
  border: calc(2 / 768 * 100vw) solid #787878;
  padding-left: calc(15 / 768* 100vw);
}

.card__email input {
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  font-size: calc(28 / 768 * 100vw);
  font-weight: 700;
  line-height: calc(36 / 768 * 100vw);
  color: #787878;
}

.card__email input::placeholder {
  color: #cccccc;
  font-weight: 700;
}

.card__email label {
  font-size: calc(16 / 768 * 100vw);
  font-weight: 700;
  position: absolute;
  opacity: 1;
  transition: 0.15s;
  caret-color: transparent;
  left: calc(0 / 768 * 100vw);
  top: calc(-19 / 768 * 100vw);
  color: rgba(120, 120, 120, 1);
}

.card__password {
  display: flex;
  position: absolute;
  top: calc(193 / 768 * 100vw);
  left: calc(45 / 768 * 100vw);
  width: calc(510 / 768 * 100vw);
  height: calc(49 / 768 * 100vw);
  border: calc(2 / 768 * 100vw) solid #787878;
  padding-left: calc(15 / 768 * 100vw);
}

.card__password input {
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  font-size: calc(28 / 768 * 100vw);
  font-weight: 700;
  line-height: calc(36 / 768 * 100vw);
  color: #787878;
}

.card__password input::placeholder {
  color: #cccccc;
  font-weight: 700;
}

.card__password label {
  font-size: calc(16 / 768 * 100vw);
  font-weight: 700;
  position: absolute;
  left: calc(0 / 768 * 100vw);
  top: calc(-20 / 768 * 100vw);
  opacity: 1;
  transition: 0.15s;
  caret-color: transparent;
  color: rgba(120, 120, 120, 1);
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(413 / 768 * 100vw);
  left: calc(165 / 768 * 100vw);
  width: calc(180 / 768 * 100vw);
  height: calc(52 / 768 * 100vw);
  border: none;
  background-color: rgba(26, 34, 107, 1);
  font-size: calc(24 / 768 * 100vw);
  text-align: center;
  line-height: calc(16 / 768 * 100vw);
  font-weight: 700;
  color: #fff;
  caret-color: transparent;
  cursor: pointer;
}

.card__repeat-password {
  position: absolute;
  display: flex;
  top: calc(274 / 768 * 100vw);
  left: calc(45 / 768 * 100vw);
  width: calc(510 / 768 * 100vw);
  height: calc(49 / 768 * 100vw);
  border: calc(2 / 768 * 100vw) solid #787878;
  padding-left: calc(15 / 768* 100vw);
}

.card__repeat-password input {
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  font-size: calc(28 / 768 * 100vw);
  font-weight: 700;
  line-height: calc(36 / 768 * 100vw);
  color: #787878;
}

.card__repeat-password label {
  font-size: calc(16 / 768 * 100vw);
  font-weight: 700;
  position: absolute;
  left: calc(0 / 768 * 100vw);
  top: calc(-20 / 768* 100vw);
  color: rgba(120, 120, 120, 1);
}

.card__repeat-password input::placeholder {
  color: #cccccc;
  font-weight: 700;
}




.container__check-position {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: calc(7 / 768 * 100vw);
  top: calc(357 / 768 * 100vw);
  left: calc(-243 / 768 * 100vw);
  padding-top: calc(11 / 768 * 100vw);
  


}




.container__label-about {
  margin-bottom: calc(5 / 768 * 100vw);
  font-weight: 700;
  color: #787878;
  position: absolute;
  left: calc(0 / 768 * 100vw);
  font-size: calc(16 / 768 * 100vw);
  top: calc(50 / 768 * 100vw);
}



.container__form-about {
  position: absolute;
  top: calc(87/ 768 * 100vw);
  left: calc(0/ 768 * 100vw);
  width: calc(509 / 768 * 100vw);
  height: calc(246 / 768 * 100vw);
  font-size: calc(28 / 768 * 100vw);
  font-weight: 700;
  line-height: calc(36 / 768 * 100vw);
  color: #787878;
  font-family: "Roboto";
  border: calc(2 / 768 * 100vw) solid #787878;
}


.box-form__hidden-check1 {
  position: absolute;
  top: calc(50 / 768 * 100vw);
  left: calc(20 / 768 * 100vw);
}

.box-form__hidden-check2 {
  position: absolute;
  top: calc(60 / 768 * 100vw);
  left: calc(20 / 768 * 100vw);
}



.form-group-1 {
  top: calc(357 / 768 * 100vw);
  left: calc(45 / 768 * 100vw);
  position: absolute;
  font-size: calc(14 / 768 * 100vw);
  color: #787878;
}

.form-group-2 {
  padding-top: calc(13 / 768 * 100vw);
}

.form__man {
  top: calc(355 / 768 * 100vw);
  display: inline-block;
}

.form__man-input {
  width: calc(0 / 768 * 100vw);
  height: calc(0 / 768 * 100vw);
  position: absolute;
  z-index: -1;
}

.form__wmn-input {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}

.custom-radio {
  position: relative;
  display: inline-block;
  width: calc(20 / 768 * 100vw);
  height: calc(20 / 768 * 100vw);

  border: calc(2 / 768 * 100vw) solid #787878;
  border-radius: 50%;
  margin-right: calc(9 / 1440 * 100vw);
  vertical-align: text-top;
}

.custom-radio::before {
  content: "";
  display: inline-block;
  width: calc(12 / 768 * 100vw);
  height: calc(12 / 768 * 100vw);
  background: #787878;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.form__man-input:checked + .custom-radio::before {
  display: block;
}

.form__wmn-input:checked + .custom-radio::before {
  display: block;
}


textarea::placeholder {
  color: #cccccc;
  font-weight: 700;
  font-size: calc(28 / 768 * 100vw);
  line-height: calc(36 / 768 * 100vw);
  font-family: "Roboto";
}

.checkbox__container {
  position: relative;
  display: inline-block;
  top: calc(300 / 768 * 100vw);
  left: calc(0 / 768 * 100vw);
}

.checkbox__label {
  position: absolute;
}

.realcheckbox__container-agree {
  display: inline-block;
  position: absolute;
  
  z-index: -1;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: calc(24 / 768 * 100vw);
  height: calc(24 / 768 * 100vw);
  border: calc(2 / 768 * 100vw) solid #787878;
  margin-right: calc(9 / 1440 * 100vw);
  vertical-align: sub;
}

.custom-checkbox::before {
  content: '';
  display: inline-block;
  width: calc(12 / 768 * 100vw);
  height: calc(12 / 768 * 100vw);
  background: #787878;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);

  
}

.realcheckbox__container-agree:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
    
}


.container__gender-label {
  
  top: calc(-40 / 768 * 100vw);
  font-weight: 700;
  color: #787878;
  position: absolute;
  left: calc(-10 / 768 * 100vw);
  font-size: calc(16 / 768 * 100vw);
  
}

}